<h1>Create employee</h1>


<%= form_tag "/employees", method: :post do %>
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name %>
  <br />
  <%= label_tag :last_name %>
  <%= text_field_tag :last_name %>
  <br />
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br />
  <%= submit_tag "Create Employee" %>
<% end %>